body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.ui {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  color: #fff;
  text-align: center;
}

.ui:before {
  content: '';
  position: fixed;
  display: block;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  z-index: -1;
}
